$small-mobile: "(max-width: 375px)";
$mobile: "(max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 991px)";
$moblet: "(max-width: 991px)";
$desktop: "(min-width: 992px) and (max-width: 1199px)";
$large-desktop: "(min-width: 1200px)";

@mixin small-mobile() {
    @media #{$small-mobile} {
        @content;
    }
}

@mixin mobile() {
    @media #{$mobile} {
        @content;
    }
}

@mixin tablet() {
    @media #{$tablet} {
        @content;
    }
}

@mixin moblet() {
    @media #{$moblet} {
        @content;
    }
}

@mixin desktop() {
    @media #{$desktop} {
        @content;
    }
}

@mixin large-desktop() {
    @media #{$large-desktop} {
        @content;
    }
}

@mixin typography($font-size, $line-height, $font-weight, $text-align) {
    font-size: $font-size;
    line-height: $line-height;
    font-weight: $font-weight;
    text-align: $text-align;
}

@mixin flex-e($display, $direction, $justify-content, $align-items, $gap) {
    display: $display;
    flex-direction: $direction;
    justify-content: $justify-content;
    align-items: $align-items;
    gap: $gap;
}

@mixin package-bg($url) {
    background-image: url($url);
    background-size: cover;
    background-position: center;
    display: flex; 
    align-items: end;
}

@mixin package-ovelay($width, $height) {
    width: $width;
    height: $height;
    background: rgba(0, 0, 0, 0.20);
}