$primary: #1C2749;
$secondary: #E9895B;
$text: #8F7A74;


// nav color
$nav-link-font-size: 1.071rem;
$nav-link-color: #978C89;
$nav-link-font-weight: 400;
$nav-link-padding-x: 1.429rem;
$nav-link-padding-y: 1.465rem;
$navbar-light-active-color: $secondary;
$navbar-toggler-focus-width: 0;
$navbar-toggler-padding-y: 1.071rem;
$navbar-toggler-padding-x: 1rem;
// gird gutter 
$grid-gutter-width: 0;

//btn 
$btn-border-radius: 0;
$btn-font-size: 1.071rem;