@import "./variables";
@import "./mixins";
@import "./modules";

html {
  height: 100%;
  font-size: 14px;
}

body {
  font-family: 'poppings', sans-serif;
  display: flex;
  flex-direction: column;
  font-weight: 400;
  line-height: 1.714rem;
  color: $text;
  height: 100%;
}

.bg-img {
  position: relative;
  display: flex;
  flex-direction: column;

  .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

header {
  .header-menu-desktop {
    position: fixed;
    width: 100%;
    z-index: 3;

    .logo {
      .logo-text {
        color: black;
        @include typography(2.5rem, 4.643rem, 700, center);
      }
    }

    .active {
      color: $secondary;
    }

    .bars-btn {
      display: none;
      padding: 1.071rem 1.009rem 1.133rem 1rem;
      max-height: 3.571rem;
    }

    .block-push {
      display: none;
      height: 3.571rem;
    }
  }

  .header-menu-mobile {
    display: none;
  }

  @include desktop {
    .header-menu {
      position: static;
    }
  }

  @include tablet {
    .header-menu {
      position: static;
    }
  }


  @include mobile {
    .header-menu-desktop {
      display: none;
    }

    .header-menu-mobile {
      display: block;
      z-index: 3;

      .logo {
        padding: 0.929rem 2.071rem 0.929rem 2.143rem;

        .logo-text {
          color: #000;
          @include typography(1.357rem, 1.714rem, 400, center);
        }
      }

    }
  }

  @include small-mobile {
    .header-menu {
      max-width: 26.786rem;

      .logo-text {
        @include typography(1.357rem, 1.714rem, 400, center);
      }
    }
  }

  .banner {
    z-index: 1;

    .banner-mobile {
      display: none;
    }

    .overlay {
      background-color: rgba(0, 0, 0, 0.2);
      margin-bottom: 3.929rem;
      z-index: 2;

      .banner-content {
        .heading {
          color: $primary;
          @include typography(4.857rem, 4.071rem, 400, center);
          letter-spacing: 0.071rem;
          margin-bottom: 3.429rem;
        }

        .desc {
          color: $primary;
          @include typography(2rem, 2.714rem, 400, center);
          letter-spacing: 0.071rem;
          margin-bottom: 2.893rem;
        }

        .banner-btn {
          display: flex;
          gap: 0.714rem;
          margin: 0 7.143rem 0.75rem 7.143rem;

          .btn-tell {
            padding: 0.786rem 3.643rem;
            background-color: $secondary;
            color: #fff;
            @include typography(1.071rem, 1.786rem, 400, center);

            &:hover {
              background-color: darken($color: $secondary, $amount: 10%);
            }
          }

          .btn-book {
            padding: 0.786rem 2.143rem;
            background-color: #fff;
            ;
            color: $text;
            @include typography(1.071rem, 1.786rem, 400, center);

            &:hover {
              background-color: darken($color: #fff, $amount: 10%);
              color: #000;
            }
          }
        }
      }
    }
  }

  @include mobile {
    .banner {
      max-height: 21.429rem;

      .banner-desktop {
        display: none;
      }

      .banner-mobile {
        display: block;
      }

      .overlay {
        background: rgba(249, 248, 246, 0.60);
        margin: 0;

        .banner-content {
          max-width: 100%;
          padding: 2.964rem 3.571rem;

          .heading {
            @include typography(2rem, 2.429rem, 400, center);
            margin-bottom: 1.429rem;
          }

          .desc {
            @include typography(1.071rem, 1.643rem, 400, center);
            margin-bottom: 1.357rem;
          }

          .banner-btn {
            flex-direction: column;
            margin: auto;
            box-sizing: border-box;
          }
        }
      }
    }
  }
}

main {
  flex: 1;

  .info-box {
    min-height: 36.429rem;
    background: url("../images/home/img.png") -7.2rem 0/ cover no-repeat;

    .intro-info {
      position: relative;
      max-width: 32.857rem;
      padding: 3.357rem 3.929rem 3.786rem;
      background: #FFF;
      box-shadow: 1rem 1rem 4.286rem 0 #CEC4BC;
      top: -13rem;
      left: 18.667rem;

      h4 {
        color: $primary;
        font-style: normal;
        @include typography(2.5rem, 2.857rem, 400, start);
        margin-bottom: 3.286rem;
      }


      .info-option {
        margin-bottom: 1.857rem;

        h6 {
          color: $secondary;
          font-style: normal;
          @include typography(1.357rem, 1.643rem, 400, start);
          margin-bottom: 1rem;
        }

        span {
          color: #8F7A74;
          font-style: normal;
        }

        &:last-child {
          margin: 0;
        }
      }


      .vertical-line {
        position: absolute;
        left: 12rem;
        width: 0.143rem;
        height: 25rem;
        background-color: white;
      }

      .btn-down {
        position: absolute;
        bottom: -20.867rem;
        left: 10.5rem;
        width: 3.571rem;
        height: 3.571rem;
        background: #FFF;
        box-shadow: 0.5rem 0.5rem 1.429rem 0 rgba(0, 0, 0, 0.20);
        text-align: center;
        line-height: 3.3rem;
      }
    }

    @include desktop {
      .intro-info {
        top: -6rem;
        left: 4.667rem;
      }
    }
  }

  @include tablet {
    .info-box {
      display: flex;
      justify-content: center;
      min-height: 26.143rem;
      background: url("../images/home/img.png") -15rem / cover no-repeat;
      padding: 1.071rem 1.786rem;

      .intro-info {
        position: static;
        max-width: 25rem;
        max-height: 24rem;
        padding: 1.929rem 2.214rem 2.357rem 2.286rem;

        h4 {
          @include typography(2.071rem, 2.143rem, 400, center);
          margin-bottom: 2.643rem;
        }


        .info-option {
          margin-bottom: 1.929rem;

          h6 {
            @include typography(1.214rem, 1.643rem, 400, center);
            margin-bottom: 0.571rem;
          }

          span {
            display: block;
            text-align: center;
          }
        }


        .vertical-line {
          display: none;
        }

        .btn-down {
          display: none;
        }
      }
    }
  }

  @include mobile {
    .info-box {
      display: flex;
      justify-content: center;
      min-height: 26.143rem;
      background: url("../images/home-moblie/info-img-mobile.png") #F9F8F6 left 2.143rem/1.071rem 36.429rem no-repeat;
      padding: 1.071rem 1.786rem;

      .intro-info {
        position: static;
        max-width: 25rem;
        min-width: 25rem;
        max-height: 24rem;
        padding: 1.929rem 2.214rem 2.357rem 2.286rem;

        h4 {
          @include typography(2.071rem, 2.143rem, 400, center);
          margin-bottom: 2.643rem;
        }


        .info-option {
          margin-bottom: 1.929rem;

          h6 {
            @include typography(1.214rem, 1.643rem, 400, center);
            margin-bottom: 0.571rem;
          }

          span {
            display: block;
            text-align: center;
          }
        }


        .vertical-line {
          display: none;
        }

        .btn-down {
          display: none;
        }
      }
    }
  }

  .package-box {
    .packages {
      position: relative;
      max-width: 29.286rem;
      background: #F3F1EC;
      box-shadow: 0.5rem 0.5rem 5rem 0 #C0A9A0;
      padding: 3.643rem 3.929rem 3.13rem;
      margin-left: 8rem;
      top: -4.267rem;

      .heading {
        color: $primary;
        font-style: normal;
        @include typography(1.786rem, 2.5rem, 400, start);
        margin-bottom: 1.786rem;
        letter-spacing: 0.071rem;
      }

      .desc {
        color: #908886;
        display: inline-block;
        font-style: normal;
        @include typography(1.071rem, 1.786rem, 400, start);
        margin-bottom: 3.5rem;
      }

      .img {
        min-width: 30rem;
        min-height: 14.643rem;
        position: relative;
        left: -6.429rem;

        .package-massage {
          position: absolute;
          top: 15rem;
          right: 19rem;
          width: 19.286rem;
          height: 17.857rem;
          box-shadow: 1rem 1rem 2.857rem 0 rgba(0, 0, 0, 0.40);
          @include package-bg("../images/home/package/massage.jpg");

          .massage-overlay {
            width: 100%;
            color: #FFF;
            font-style: normal;
            padding: 3.929rem 7.429rem 1.786rem 1.786rem;
            background: rgba(0, 0, 0, 0.20);

            p {
              margin: 0;

              span {
                color: #FDD500;
                font-style: normal;
              }
            }
          }
        }

        .package-wellness {
          position: absolute;
          top: 0;
          left: 0;
          width: 21.429rem;
          height: 17.857rem;
          box-shadow: 1rem 1rem 2.857rem 0 rgba(0, 0, 0, 0.40);
          @include package-bg("../images/home/package/wellnesscenter.jpg");
          z-index: 1;

          .wellness-overlay {
            width: 100%;
            background: rgba(0, 0, 0, 0.20);
            color: #FFF;
            font-style: normal;
            padding: 3.929rem 8.571rem 1.786rem 1.786rem;

            p {
              margin: 0;

              span {
                color: #FDD500;
                font-style: normal;
              }
            }
          }
        }

        .package-products {
          position: absolute;
          bottom: -19.67rem;
          right: 3.5rem;
          width: 18.571rem;
          height: 17.857rem;
          box-shadow: 1rem 1rem 2.857rem 0 rgba(0, 0, 0, 0.40);
          @include package-bg("../images/home/package/beautyproducts.jpg");

          .products-overlay {
            width: 100%;
            background: rgba(0, 0, 0, 0.20);
            color: #FFF;
            font-style: normal;
            padding: 3.929rem 7.5rem 1.786rem 1.786rem;

            p {
              margin: 0;

              span {
                color: #FDD500;
                font-style: normal;
              }
            }
          }
        }

        .package-nail {
          position: absolute;
          top: 5.33rem;
          right: 0;
          width: 11.3rem;
          height: 13.3rem;
          box-shadow: 1rem 1rem 2.857rem 0 rgba(0, 0, 0, 0.40);
          @include package-bg("../images/home/package/nailartists.jpg");
          z-index: 1;

          .nail-overlay {
            width: 100%;
            background: rgba(0, 0, 0, 0.20);
            color: #FFF;
            font-style: normal;
            padding: 3.929rem 3.286rem 1.786rem 1.786rem;

            p {
              margin: 0;

              span {
                color: #FDD500;
                font-style: normal;
              }
            }
          }
        }
      }
    }
  }

  @include tablet {
    .package-box {
      display: flex;
      justify-content: center;
      padding: 1.071rem 1.786rem 2.5rem;
      background-color: #F9F8F6;

      .packages {
        position: static;
        min-width: 25rem;
        padding: 2.714rem 2.643rem 2.857rem 2.714rem;
        margin: 0;

        .heading {
          @include typography(1.857rem, 2.357rem, 400, center);
          margin-bottom: 1.643rem;
        }

        .desc {
          display: block;
          @include typography(1rem, 1.714rem, 400, center);
          margin-bottom: 2.071rem;
        }

        .img {
          min-width: 17.143rem;
          min-height: 14.643rem;
          left: 0;

          .package-massage {
            top: 10.571rem;
            left: 0;
            width: 10.714rem;
            height: 9.286rem;
            z-index: 1;

            .massage-overlay {
              padding: 2.857rem 2rem 1rem 1rem;
              background: rgba(0, 0, 0, 0);
              @include typography(0.786rem, 1.143rem, 400, start);
            }
          }

          .package-wellness {
            left: -2.143rem;
            width: 12.143rem;
            height: 10.714rem;
            z-index: 0;

            .wellness-overlay {
              background: rgba(0, 0, 0, 0);
              padding: 2.857rem 2.571rem 1rem 1rem;
              @include typography(0.786rem, 1.143rem, 400, start);

            }
          }

          .package-products {
            top: 14rem;
            left: 9.929rem;
            width: 8.571rem;
            height: 8.571rem;

            .products-overlay {
              background: rgba(0, 0, 0, 0);
              padding: 2.857rem 0.214rem 1rem 1rem;
              @include typography(0.786rem, 1.143rem, 400, start);

            }
          }

          .package-nail {
            top: 2.857rem;
            left: 8.929rem;
            width: 10rem;
            height: 11.429rem;

            .nail-overlay {
              background: rgba(0, 0, 0, 0);
              padding: 2.929rem 1.214rem 0.714rem 1rem;
              @include typography(0.857rem, 1.143rem, 400, start);

            }
          }
        }
      }
    }
  }

  @include mobile {
    .package-box {
      display: flex;
      justify-content: center;
      padding: 1.071rem 1.786rem 2.5rem;
      background-color: #F9F8F6;

      .packages {
        position: static;
        min-width: 25rem;
        padding: 2.714rem 2.643rem 2.857rem 2.714rem;
        margin: 0;

        .heading {
          @include typography(1.857rem, 2.357rem, 400, center);
          margin-bottom: 1.643rem;
        }

        .desc {
          display: block;
          @include typography(1rem, 1.714rem, 400, center);
          margin-bottom: 2.071rem;
        }

        .img {
          min-width: 17.143rem;
          min-height: 14.643rem;
          left: 0;

          .package-massage {
            top: 10.571rem;
            left: 0;
            width: 10.714rem;
            height: 9.286rem;
            z-index: 1;

            .massage-overlay {
              padding: 2.857rem 2rem 1rem 1rem;
              background: rgba(0, 0, 0, 0);
              @include typography(0.786rem, 1.143rem, 400, start);
            }
          }

          .package-wellness {
            left: -2.143rem;
            width: 12.143rem;
            height: 10.714rem;
            z-index: 0;

            .wellness-overlay {
              background: rgba(0, 0, 0, 0);
              padding: 2.857rem 2.571rem 1rem 1rem;
              @include typography(0.786rem, 1.143rem, 400, start);

            }
          }

          .package-products {
            top: 14rem;
            left: 9.929rem;
            width: 8.571rem;
            height: 8.571rem;

            .products-overlay {
              background: rgba(0, 0, 0, 0);
              padding: 2.857rem 0.214rem 1rem 1rem;
              @include typography(0.786rem, 1.143rem, 400, start);

            }
          }

          .package-nail {
            top: 2.857rem;
            left: 8.929rem;
            width: 10rem;
            height: 11.429rem;

            .nail-overlay {
              background: rgba(0, 0, 0, 0);
              padding: 2.929rem 1.214rem 0.714rem 1rem;
              @include typography(0.857rem, 1.143rem, 400, start);

            }
          }
        }
      }
    }
  }

  .location {
    background: linear-gradient(180deg, rgba(233, 137, 91, 0.00) 0%, #E9895B 86.46%);
    padding: 7.143rem 7.143rem 3.571rem 17.857rem;

    .location-box {
      .location-info {
        padding: 3.714rem 4.286rem 4.143rem 2.143rem;

        h3 {
          color: $primary;
          font-style: normal;
          @include typography(2.786rem, 2.857rem, 400, start);
          margin-bottom: 3.429rem;
          letter-spacing: 0.071rem;
        }

        .location-wrap {
          .location-option {
            margin-bottom: 1.857rem;

            h6 {
              color: #FFF;
              font-style: normal;
              @include typography(1.357rem, 1.643rem, 400, start);
              margin-bottom: 1rem;
            }

            p {
              color: #FFF6F1;
              font-style: normal;
              margin: 0;
            }

            &:last-child {
              margin: 0;
            }
          }
        }
      }
    }

    .location-img {
      max-width: 43.867rem;
      max-height: 34rem;
      object-fit: cover;
      padding: 1.786rem 1rem 1rem;
    }

    @include desktop {
      .location-img {
        max-width: 29.867rem;
      }
    }

    @include tablet {
      .location-img {
        max-width: 22.867rem;
      }
    }
  }

  @include desktop {
    .location {
      padding: 7.143rem 7.143rem 3.571rem 7.857rem;
    }
  }

  @include tablet {
    .location {
      padding: 7.143rem 7.143rem 3.571rem 7.857rem;
    }
  }

  @include mobile {
    .location {
      background-color: #E9895B;
      background-image: url("../images/home-moblie/location-img-mobile.png");
      background-repeat: no-repeat;
      background-position: right bottom;
      padding: 0;

      .location-box {
        display: flex;
        justify-content: center;

        .location-info {
          padding: 4.857rem 2.857rem 2.714rem 2.5rem;

          h3 {
            @include typography(2.286rem, 2.143rem, 400, start);
            margin-bottom: 1.5rem;
          }

          .location-wrap {

            .location-option {
              margin-bottom: 1.929rem;

              h6 {
                @include typography(1.214rem, 1.643rem, 400, start);
                margin-bottom: 0.571rem;
              }
            }
          }
        }
      }

      .location-img {
        display: none;
      }
    }
  }

  .member-box {
    padding: 7.143rem 17.857rem 5.714rem;

    .membership-cards {
      .heading {
        color: $primary;

        h2 {
          @include typography(3.929rem, 4.714rem, 400, center);
          letter-spacing: 0.071rem;
          margin-bottom: 2.429rem;
        }

        h3 {
          @include typography(1.929rem, 2.429rem, 400, center);
          margin: 0;
        }
      }
    }
  }

  @include tablet {
    .member-box {
      padding: 7.143rem 11.857rem 5.714rem;
    }
  }

  @include mobile {
    .member-box {
      padding: 2.5rem 2.143rem 2.786rem 2.214rem;

      .membership-cards {
        .heading {
          h2 {
            @include typography(1.643rem, 2.714rem, 400, center);
            margin-bottom: 1.571rem;
          }

          h3 {
            @include typography(1rem, 1.714rem, 400, center);
          }
        }
      }
    }
  }

  .info-member-box {
    display: flex;
    justify-content: end;

    .info {
      padding: 7.429rem 2.143rem 3.429rem 3.929rem;
      display: inline-flex;
      flex-direction: column;
      gap: 8.143rem;
      justify-content: end;
      margin-bottom: 7.143rem;

      .info-item {
        text-align: center;

        .title {
          display: block;
          color: $secondary;
          font-style: normal;
          @include typography(1.286rem, 1.714rem, 400, center);
          text-transform: capitalize;
          margin-bottom: 0.857rem;
        }

        .desc {
          color: #908886;
          font-style: normal;
          margin: 0;
        }
      }
    }
  }

  @include mobile {
    .info-member-box {
      justify-content: center;

      .info {
        padding: 2.143rem 1.786rem 4.714rem;
        gap: 0;
        margin: 0;

        .info-item {
          margin-bottom: 3.714rem;

          &:last-child {
            margin: 0;
          }
        }
      }
    }
  }

  .bg-price {
    background: url("../images/home/member-img.png") 18.5rem -1.7rem/cover no-repeat;
    margin-bottom: 7.143rem;

    .price {
      @include flex-e(inline-flex, column, center, flex-start, 2.143rem);

      .price-item {
        min-width: 34.143rem;
        background: #ECEAE4;
        color: $primary;
        box-shadow: 1rem 1rem 2.857rem 0 rgba(0, 0, 0, 0.19);

        .price-item-top {
          padding: 1.714rem 1.714rem 1.929rem 5.357rem;

          .price-month {
            text-align: end;
            font-size: 1.786rem;

            span {
              font-size: 0.714rem;
            }
          }

          .item-include {
            font-size: 1.071rem;
            margin: 0;
          }
        }

        .item-name {
          padding: 0 12.571rem 0 3.214rem;
          color: #FFF;
          font-style: normal;
          @include typography(6.071rem, 5.214rem, 400, start);
        }
      }
    }
  }

  @include mobile {
    .bg-price {
      background: none;
      margin: 0;
      display: flex;
      justify-content: center;

      .price {
        .price-item {
          min-width: 25rem;

          .price-item-top {
            padding: 0.643rem 1rem 0.214rem 3rem;

            .item-include {
              font-size: 0.857rem;
            }
          }

          .item-name {
            padding: 0 9.857rem 0 1.071rem;
            @include typography(4.643rem, 3.786rem, 400, start);
          }
        }
      }
    }
  }
}

footer {
  .footer-top {
    height: 5.714rem;
    background-color: #F9F8F6;

    .push-down {
      position: relative;
      top: 3.667rem;

      .time-open {
        background-color: white;
        padding: 1.2rem 3rem;

        p {
          color: $primary;
          @include typography(0.933rem, 1.6rem, 400, center);
          margin: 0;
        }
      }

      .btn-contact {
        display: inline-block;
        padding: 1.2rem 5rem;
        color: white;
        @include typography(1.133rem, 1.6rem, 400, center);
        background-color: $primary;

        &:hover {
          background-color: #18213e;
        }
      }
    }

  }

  .footer-groups {
    background-color: #F1EFE9;
    padding: 5.643rem 0 3.214rem;

    .copyright-box {
      background-color: #F1EFE9;

      .copyright {
        color: $primary;
        @include typography(0.8rem, 1.6rem, 400, center);
      }
    }

    @include tablet {
      .copyright-box {
        display: flex;
        justify-content: center;
      }
    }

    .footer-nav-box {

      .footer-nav {
        display: flex;
        list-style: none;
        padding-left: 0.933rem;
        justify-content: center;
        gap: 0.933rem;
        margin: 0;

        .footer-nav-item {
          .footer-nav-link {
            text-decoration: none;
            color: $text;
            @include typography(0.8rem, 1.6rem, 400, center);

            &:hover {
              color: #18213e;
            }
          }
        }
      }
    }
  }

  @include mobile {


    .footer-top {
      .push-down {
        top: 4rem;

        .time-open {
          padding: 0.714rem 4.143rem;
          width: 100%;
          max-width: 23.571rem;

          p {
            @include typography(0.857rem, 1.714rem, 400, center);
          }
        }

        .btn-contact {
          display: block;
          width: 100%;
          max-width: 23.571rem;
          padding: 0;
          @include typography(1.214rem, 3.143rem, 400, center);
        }
      }
    }

    .footer-groups {
      padding: 8.429rem 0 3.214rem;

      .copyright-box {
        display: flex;
        justify-content: center;
        margin-bottom: 0.714rem;

        .copyright {
          font-size: 0.857rem;
          text-align: center;
          min-width: 9.571rem;
          max-width: 9.571rem;
        }
      }

      .footer-nav-box {
        padding: 0;

        .footer-nav {
          flex-direction: column;
          text-align: center;
          align-items: center;
          justify-content: center;
          padding: 0;
          gap: 0;

          .footer-nav-item {
            .footer-nav-link {
              font-size: 0.857rem;
            }
          }
        }
      }
    }


  }
}